body {
    background-color: #333;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #c7c7c7;
}

header {
    background-color: #424242;
    padding: 10px;
    text-align: center;
}

main {
    padding: 40px;
    padding-bottom: 200px;
}

ul {
    list-style: none;
    padding: 0;
    text-align: center;
    max-height: 250px;
    overflow-y: auto;
    margin-top: 20px;
}

li {
    margin: 8px 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #c7c7c7;
}

footer {
    background-color: #424242;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 140px;
}

.control-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #424242;
    border-radius: 10px;
    width: 280px;
    position: relative;
    bottom: 50px;
}

.control-box button {
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
}

.control-box button:hover {
    background-color: #777;
}

#tituloMusica {
    margin-top: -30px;
}

audio {
    width: 90%;
    max-width: 300px;
}
